@import '_elements.scss';

/*

  1. Front-page
  ├─ FrontpageHeader
  ├─ FrontpageHeading
  ├─ FrontpageHero - HeaderBackground
  ├─ FrontpageCard
  └─ PortfolioProject (Layout)

  2. Page
  ├─ General
  ├─ Header
  ├─ About
  ├─ Portfolio
  └─ Contact

*/


/* -------------------------------------------------
   # Navbar - Components
----------------------------------------------------*/
/* Components:
   - Logo
   - Social
   - MenuIcon
   - Navigation
   - MobileNavigation
*/

// Navbar Logo
.Navbar .Logo {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;

    svg {
        height: 25px;
        width: auto;
    }
}


// Desktop Navigation
.Navigation .Social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}
.Navigation .NavLinks {
    display: flex;
    margin-left: auto;
}

// Mobile Navigation
.MobileNavigation .NavLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    a {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}
.MobileNavigation .Social {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}
.MobileNavigation .Extra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    a {
        color: gray;
        text-transform: uppercase;
        font-size: 14px;
    }
}

// Icons on Navigation / MobileNavigation
.Social .icon {
    width: 16px;
    transition: color 500ms;
}
.Social a {
    color: #666;
    transition: color 500ms;
}
.Social a:hover {
    color: var(--color-primary);
    transition: color 500ms;
}

.Navbar .Menu {
    border: 0;
    padding: 0;
    display: flex;
    background: transparent;
}

// Hide and show Navigation Links
@media screen and (min-width: 1024px) {
    .Navbar .NavLinks a { margin-left: 5px; }
}

/* -------------------------------------------------
   # Front-Page - Components
----------------------------------------------------*/

// Frontpage Header
.FrontpageHeader {
    .title {
        font-family: 'fontbase';
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 10px 3px;
    }
    .subtitle {
        font-family: 'fontbase';
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--color-primary);
        margin: 0 0 5px 3px;
    }
    .description {
        font-size: 16px;
        color: #808080;
        margin: 0 0 20px 3px;
    }
    .CTA {
        display: flex;
    }
    button {
        margin-right: 10px;
    }
}
@media screen and (min-width: 768px) {
    .FrontpageHeader {
        .title {
            font-size: 22px;
        }
        .subtitle {
            font-size: 16px;
            font-weight: 800;
        }
    }

}
@media screen and (min-width: 992px) {
    .FrontpageHeader .title {
        font-size: 24px;
    }
}

// Frontpage - Header Background
.FrontpageHero .HeaderBackground {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 650px;
    z-index: 10;

    .circle.one, .circle.two {
        position: absolute;
        z-index: 1;
        border-radius: 50%;
    }
    .circle.one {
        background:
            linear-gradient(30deg, #eff4ff, #eff4fb00);
        top:     20px;
        right: -250px;
        width:  450px;
        height: 450px;
    }
    .circle.two {
        background:
            linear-gradient(50deg, #eff4ff, #eff4fb00);
        top:    -50px;
        left:   -80px;
        width:   200px;
        height:  200px;
    }
    .circles-pattern {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        justify-content: space-between;
        width:  75px;
        height: 75px;
        top: 300px;
        left: 70px;
        
        div {
            border-radius: 50%;
            background-color: #c4c4c4;
            margin-right: 10px;
            margin-bottom: 10px;
            width: 5px;
            height: 5px;
        }
    }
}

@media screen and (min-width: 768px) {
    .FrontpageHero .HeaderBackground {
        height: 800px;

        .circle.one {
            top:   -150px;
            right: -450px;
            width:  850px;
            height: 850px;
        }
        .circle.two {
            top:    -200px;
            left:   -200px;
            width:   450px;
            height:  450px;
        }
        .circles-pattern {
            width:  75px;
            height: 75px;
            top: 300px;
            left: 70px;
        }   
        .circles-pattern div {
            margin-right: 10px;
            margin-bottom: 10px;
            width: 5px;
            height: 5px;
        }
    }
}

@media screen and (min-width: 992px) {
    .FrontpageHero .HeaderBackground {
        height: 600px;

        .circle.one {
            top:    -750px;
            right:  -450px;
            width:  1200px;
            height: 1200px;
        }
        .circle.two {
            top:    -250px;
            left:   -150px;
            width:   450px;
            height:  450px;
        }
        .circles-pattern {
            width:  75px;
            height: 75px;
            top: 300px;
            left: 70px;
        }   
        .circles-pattern div {
            margin-right: 10px;
            margin-bottom: 10px;
            width: 5px;
            height: 5px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .FrontpageHero .HeaderBackground {
        height: 600px;

        .circle.one {
            top:    -750px;
            right:  -450px;
            width:  1200px;
            height: 1200px;
        }
        .circle.two {
            top:    -250px;
            left:   -150px;
            width:   450px;
            height:  450px;
        }
        .circles-pattern {
            width:  75px;
            height: 75px;
            top: 300px;
            left: 70px;
        }   
        .circles-pattern div {
            margin-right: 10px;
            margin-bottom: 10px;
            width: 5px;
            height: 5px;
        }
    }
}

// Frontpage Heading
.FrontpageHeading {
    max-width: 450px;

    .title {
        font-size: 20px;
        font-weight: 400;
        color: #212121;
        margin: 0 0 10px 0;
    }
    .subtitle {
        font-size: 16px;
        font-weight: 700;
        color: #808080;
        margin: 0 0 5px 0;
    }
    .description {
        font-size: 16px;
        color: #808080;
    }
}
@media screen and (min-width: 768px) {
    .FrontpageHeading { max-width: none; }
    .FrontpageHeading .title {
        font-size: 22px;
    }
}
@media screen and (min-width: 1024px) {
    .FrontpageHeading .title {
        font-size: 24px;
    }
}

// Frontpage Card
.FrontpageCard {
    background-color: #F4F5FF;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;

    .Image {
        width: 80px;
        height: 80px;
        background: #D0E3FF;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-top: 5px;

        img {
            padding: 18px;
        }
    }
    .Content { padding-left: 5px; }
    .Title {
        font-size: 18px;
        font-weight: 700;
        font-family: 'fontbase';
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .Description {
        font-size: 14px;
        color: #666;
    }
}
@media screen and (min-width: 576px) {
    .FrontpageCard {
        display: flex;
        flex-direction: row;
        max-width: 600px;

        .Image {
            margin-right: 10px;
            margin-top: 0;
        }
        .Title {
            font-size: 20px;
            margin-top: 10px;
        }
        .Description { font-size: 16px; }
        .Content { margin-right: 10px; }
    }
}
@media screen and (min-width: 1024px) {
    .FrontpageCard {
        display: grid;
        gap: 20px;
        grid-template-areas:
            "theImage theContent";
        grid-template-columns: 80px auto;
        margin-bottom: 20px;
        max-width: 100%;

        .Image {
            grid-area: theImage;
        }
        .Content {
            grid-area: theContent;
            margin-right: 10px;
        }
    }
}

// PortfolioProject
.PortfolioProject {
    display: grid;
    gap: 30px;
    row-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 100px;

    .date {
        grid-row:    1 / 2;
        grid-column: 1 / 2;
    }
    .content {
        grid-row:    1 / 2;
        grid-column: 2 / 5;
    }
    .image {
        grid-row:    1 / 2;
        grid-column: 6 / 12;
        width: 100%;
        height: 400px;
    }
    
}
.PortfolioProject .date {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 40px;

    .divisor {
        width: 100%;
        height: 1px;
        background-color: #c4c4c4;
        margin-top: 45px;
    }
    .the-date {
        transform: rotate(-90deg);
        color: #c4c4c4;
        font-size: 14px;
        justify-content: flex-end;
        position: absolute;
        top: 150px;
        right: -60px;
        width: 200px;
        display: flex;
    }
}
.PortfolioProject .content {
    .title {
        font-size: 24px;
        font-weight: 400;
        color: #212121;
        margin: 25px 0 15px 0;
    }
    .title a {
        color: currentColor;
    }
    .button {
        @extend .btn-small;
        margin-bottom: 10px;
    }
    .description {
        color: #808080;
        font-size: 16px;
    }
}
.PortfolioProject .image {
    background-color: #212121;
    border-radius: 10px;
}