@import '_elements.scss';

/*

  1. Front-page
  ├─ FrontpageHeader
  ├─ FrontpageHeading
  ├─ FrontpageHero - HeaderBackground
  ├─ FrontpageCard
  └─ PortfolioProject (Layout)

  2. Page
  ├─ General
  ├─ Header
  ├─ About
  ├─ Portfolio
  └─ Contact

*/


/* -------------------------------------------------
   # Navbar - Components
----------------------------------------------------*/
/* Components:
   - Logo
   - Social
   - MenuIcon
   - Navigation
   - MobileNavigation
*/

// Navbar Logo
.Navbar .Logo {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;

    svg {
        height: 25px;
        width: auto;
    }
}


// Desktop Navigation
.Navigation .Social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}
.Navigation .NavLinks {
    display: flex;
    margin-left: auto;
}

// Mobile Navigation
.MobileNavigation .NavLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    a {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}
.MobileNavigation .Social {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}
.MobileNavigation .Extra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    a {
        color: gray;
        text-transform: uppercase;
        font-size: 14px;
    }
}

// Icons on Navigation / MobileNavigation
.Social .icon {
    width: 16px;
    transition: color 500ms;
}
.Social a {
    color: #666;
    transition: color 500ms;
}
.Social a:hover {
    color: var(--color-primary);
    transition: color 500ms;
}

.Navbar .Menu {
    border: 0;
    padding: 0;
    display: flex;
    background: transparent;
}

// Hide and show Navigation Links
@media screen and (min-width: 1024px) {
    .Navbar .NavLinks a { margin-left: 5px; }
}

/* -------------------------------------------------
   # Front-Page - Components
----------------------------------------------------*/

// Frontpage Header
.FrontpageHeader {
    .title {
        font-family: 'fontbase';
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 10px 3px;
    }
    .subtitle {
        font-family: 'fontbase';
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--color-primary);
        margin: 0 0 5px 3px;
    }
    .description {
        font-size: 16px;
        color: #808080;
        margin: 0 0 20px 3px;
    }
    .CTA {
        display: flex;
    }
    button {
        margin-right: 10px;
    }
}
@media screen and (min-width: 768px) {
    .FrontpageHeader {
        .title {
            font-size: 22px;
        }
        .subtitle {
            font-size: 16px;
            font-weight: 800;
        }
    }

}
@media screen and (min-width: 992px) {
    .FrontpageHeader .title {
        font-size: 24px;
    }
}

// Frontpage - Header Background
.FrontpageHero .HeaderBackground {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 650px;
    z-index: 10;

    .circle.one, .circle.two {
        position: absolute;
        z-index: 1;
        border-radius: 50%;
    }
    .circle.one {
        background:
            linear-gradient(30deg, #eff4ff, #eff4fb00);
        top:     20px;
        right: -250px;
        width:  450px;
        height: 450px;
    }
    .circle.two {
        background:
            linear-gradient(50deg, #eff4ff, #eff4fb00);
        top:    -50px;
        left:   -80px;
        width:   200px;
        height:  200px;
    }
    .circles-pattern {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        justify-content: space-between;
        width:  75px;
        height: 75px;
        top: 300px;
        left: 70px;

        div {
            border-radius: 50%;
            background-color: #c4c4c4;
            margin-right: 10px;
            margin-bottom: 10px;
            width: 5px;
            height: 5px;
        }
    }
}

@media screen and (min-width: 768px) {
    .FrontpageHero .HeaderBackground {
        height: 800px;

        .circle.one {
            top:   -150px;
            right: -450px;
            width:  850px;
            height: 850px;
        }
        .circle.two {
            top:    -200px;
            left:   -200px;
            width:   450px;
            height:  450px;
        }
        .circles-pattern {
            width:  75px;
            height: 75px;
            top: 300px;
            left: 70px;
        }
        .circles-pattern div {
            margin-right: 10px;
            margin-bottom: 10px;
            width: 5px;
            height: 5px;
        }
    }
}

@media screen and (min-width: 992px) {
    .FrontpageHero .HeaderBackground {
        height: 600px;

        .circle.one {
            top:    -750px;
            right:  -450px;
            width:  1200px;
            height: 1200px;
        }
        .circle.two {
            top:    -250px;
            left:   -150px;
            width:   450px;
            height:  450px;
        }
        .circles-pattern {
            width:  75px;
            height: 75px;
            top: 300px;
            left: 70px;
        }
        .circles-pattern div {
            margin-right: 10px;
            margin-bottom: 10px;
            width: 5px;
            height: 5px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .FrontpageHero .HeaderBackground {
        height: 600px;

        .circle.one {
            top:    -750px;
            right:  -450px;
            width:  1200px;
            height: 1200px;
        }
        .circle.two {
            top:    -250px;
            left:   -150px;
            width:   450px;
            height:  450px;
        }
        .circles-pattern {
            width:  75px;
            height: 75px;
            top: 300px;
            left: 70px;
        }
        .circles-pattern div {
            margin-right: 10px;
            margin-bottom: 10px;
            width: 5px;
            height: 5px;
        }
    }
}

// Frontpage Heading
.FrontpageHeading {
    max-width: 450px;

    .title {
        font-size: 20px;
        font-weight: 400;
        color: #212121;
        margin: 0 0 10px 0;
    }
    .subtitle {
        font-size: 16px;
        font-weight: 700;
        color: #808080;
        margin: 0 0 5px 0;
    }
    .description {
        font-size: 16px;
        color: #808080;
    }
}
@media screen and (min-width: 768px) {
    .FrontpageHeading { max-width: none; }
    .FrontpageHeading .title {
        font-size: 22px;
    }
}
@media screen and (min-width: 1024px) {
    .FrontpageHeading .title {
        font-size: 24px;
    }
}

// Frontpage Card
.FrontpageCard {
    background-color: #F4F5FF;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;

    .Image {
        width: 80px;
        height: 80px;
        background: #D0E3FF;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-top: 5px;

        img {
            padding: 18px;
        }
    }
    .Content { padding-left: 5px; }
    .Title {
        font-size: 18px;
        font-weight: 700;
        font-family: 'fontbase';
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .Description {
        font-size: 14px;
        color: #666;
    }
}
@media screen and (min-width: 576px) {
    .FrontpageCard {
        display: flex;
        flex-direction: row;
        max-width: 600px;

        .Image {
            margin-right: 10px;
            margin-top: 0;
        }
        .Title {
            font-size: 20px;
            margin-top: 10px;
        }
        .Description { font-size: 16px; }
        .Content { margin-right: 10px; }
    }
}
@media screen and (min-width: 1024px) {
    .FrontpageCard {
        display: grid;
        gap: 20px;
        grid-template-areas:
            "theImage theContent";
        grid-template-columns: 80px auto;
        margin-bottom: 20px;
        max-width: 100%;

        .Image {
            grid-area: theImage;
        }
        .Content {
            grid-area: theContent;
            margin-right: 10px;
        }
    }
}

// PortfolioProject - Layout
.PortfolioProject {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr auto;

    .date {
        grid-row:    1 / 2;
        grid-column: 1 / 2;
    }
    .content {
        grid-row:    1 / 2;
        grid-column: 2 / 7;
    }
    .image {
        grid-row:    2 / 3;
        grid-column: 1 / 7;
        width: 100%;
        height: 250px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
    }
}


.PortfolioProject .content {
    .title {
        font-size: 20px;
        font-weight: 400;
        color: #212121;
        margin: 0px 0px 15px 0px;
    }
    .title a {
        color: currentColor;
    }
    .button {
        @extend .btn-small;
        margin-bottom: 10px;
    }
    .description {
        color: #808080;
        font-size: 14px;
        margin: 0px 0px 15px 0px;
    }
}
.PortfolioProject .image {
    background-color: #212121;
    border-radius: 10px;
}
.PortfolioProject .date {
    display: flex;
    flex-direction: column;

    .divisor {
        width: 100%;
        height: 1px;
        background-color: #c4c4c4;
        margin: 15px 0 25px;
    }
    .the-date {
        color: #c4c4c4;
        font-size: 14px;
        transform: rotateY(180deg) rotateX(-180deg);
        writing-mode: vertical-rl;
        margin: 0 auto;
    }
}
@media screen and (min-width: 576px) {
    .PortfolioProject {
        .image { grid-column: 2 / 7; }
    }
}
@media screen and (min-width: 768px) {
    .PortfolioProject {
        grid-template-columns: repeat(8, 1fr);

        .date {
            grid-row:    1 / 2;
            grid-column: 1 / 2;
        }
        .content {
            grid-row:    1 / 2;
            grid-column: 2 / 7;
        }
        .image {
            grid-row:    2 / 3;
            grid-column: 2 / 8;
            width: 100%;
            height: 350px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .PortfolioProject {
        gap: 30px;
        row-gap: 0;
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 100px;

        .date {
            grid-row:    1 / 2;
            grid-column: 1 / 2;
        }
        .content {
            grid-row:    1 / 2;
            grid-column: 2 / 5;
        }
        .image {
            grid-row:    1 / 2;
            grid-column: 6 / 12;
            height: 400px;
        }
    }
    .PortfolioProject .content {
        .title {
            font-size: 24px;
        }
    }
}


// Single page - Header content
.PageHeader .container {
    margin: 140px 25px 80px 25px;
    z-index: 20;
    max-width: 400px;

    .tag {
        font-size: 14px;
        text-transform: uppercase;
        color: #0D6EFD;
        font-weight: 700;
        margin: 0 0 10px 0;
    }
    .title {
        font-size: 24px;
        font-weight: 400;
        color: #212121;
        margin: 0 0 5px 0;
    }
    .description {
        font-size: 16px;
        margin: 0;
        color: #666;
    }
}
@media screen and (min-width: 568px) {
    .PageHeader .container {
        text-align: center;

        .division {
            width: 15px;
            height: 1px;
            background-color: #808080;
            margin: 10px auto 20px;
        }
    }
}
@media screen and (min-width: 768px) {
    .PageHeader .container {
        margin: 180px 30px 100px 30px;
        max-width: 600px;
        padding: 0 50px;

        .description {
            padding: 0 20px;
        }
        .tag { font-size: 16px; }
    }
}


// Single page - Header Background
.PageHeader .background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 650px;
    z-index: 10;

    .circle {
        position: absolute;
        z-index: 1;
        border-radius: 50%;
    }
    .circle {
        background:
            linear-gradient(30deg, #eff4ff, #eff4fb00);
        top:    -20px;
        right: -250px;
        width:  450px;
        height: 450px;
    }
}
@media screen and (min-width: 768px) {
    .PageHeader .background {
        height: 800px;

        .circle {
            top:   -150px;
            right: -450px;
            width:  850px;
            height: 850px;
        }
    }
}
@media screen and (min-width: 992px) {
    .PageHeader .background {
        height: 600px;

        .circle {
            top:    -750px;
            right:  -450px;
            width:  1200px;
            height: 1200px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .PageHeader .background {
        height: 600px;

        .circle {
            top:    -750px;
            right:  -450px;
            width:  1200px;
            height: 1200px;
        }
    }
}

// Experience Card
.ExperienceCard {
    .title {
        font-size: 18px;
        color: #212121;
        margin: 0;
    }
    .date {
        font-size: 14px;
        color: #808080;
        display: block;
    }
    .url {
        font-size: 14px;
        color: #0D6EFD;
    }
    .description {
        margin: 6px 0;
        color: #212121;
        font-size: 16px;
    }
}

// ThreeColumn
.threecolumn {
    .one {
        display: flex;
        flex-direction: column-reverse;
    }
    .divisor {
        width: 25px;
        height: 1px;
        background-color: #808080;
        margin-top: 10px;
    }
    .title {
        margin: 0;
    }
}
.threecolumn .one > .title { font-size: 24px;}

@media screen and (min-width: 1024px) {
    .threecolumn {
        .one {
            display: grid;
            column-gap: 20px;
            grid-template-columns: repeat(6, 1fr);
        }
        .divisor {
            grid-column: 1 / 2;
            margin-top: 17px;
            width: 100%;
        }
        .title {
            grid-column: 2 / 7;
        }
    }
}

// CardLevel
.CardLevel {
    display: flex;
    padding: 10px 0;

    .title {
        display: inline;
        font-size: 16px;
        color: #212121;
        margin-right: 10px;
    }
    .badge {
        font-size: 14px;
        padding: 2px 10px;
        background-color: #F4F5FF;
        color: #0D6EFD;
        margin-bottom: 5px;
        border-radius: 3px;
    }
    .description {
        margin: 0;
        font-size: 14px;
        color: #808080;
    }
}
.CardLevel:last-child {
    margin-bottom: 80px;
}

// Circular progress element
//https://medium.com/@pppped/how-to-code-a-responsive-circular-percentage-chart-with-svg-and-css-3632f8cd7705
.levelbox {
    position: relative;
    margin-right: 10px;
}
.content {
    margin-top: 5px;
}
.percentage {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
}
.levelbox svg {
    width:  50px;
    height: 50px;
}
.levelbox .base {
    fill: none;
    stroke: #a2a2a2;
    stroke-width: 1;
    opacity:0.3;
}
.levelbox .ring {
    fill: none;
    stroke:#2B6BDE; 
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray:0 100;
    opacity:0;
}

// First column of CardLevel component
.one_1 { animation:  progress-90 2s ease forwards; }
.one_2 { animation:  progress-96 2s ease forwards; }
.one_3 { animation:  progress-74 2s ease forwards; }
.one_4 { animation:  progress-25 2s ease forwards; }
.one_5 { animation:  progress-62 2s ease forwards; }
.one_6 { animation:  progress-83 2s ease forwards; }
// Second column of CardLevel component
.two_1 { animation:  progress-86 2s ease forwards; }
.two_2 { animation:  progress-80 2s ease forwards; }
.two_3 { animation:  progress-68 2s ease forwards; }
.two_4 { animation:  progress-76 2s ease forwards; }
.two_5 { animation:  progress-98 2s ease forwards; }

@for $i from 10 through 100 {
    @keyframes progress-#{$i} {
        0%{
            opacity:1;
        }
        100% {
            stroke-dasharray: #{$i} 100;
            opacity:1;
        }
    }
}
@for $i from 10 through 100 {
    @keyframes progress-half-#{$i} {
        0%{
            opacity:1;
        }
        100% {
            stroke-dasharray: #{floor($i * 0.75)} 75;
            opacity:1;
        }
    }
}
@for $i from 10 through 100 {
    @keyframes progress-quarter-#{$i} {
        0%{
            opacity:1;
        }
        100% {
            stroke-dasharray: #{floor($i * 0.5)} 50;
            opacity:1;
        }
    }
}