/*
  1. Navbar
  ├─ 
  └─
  1. Front-page
  ├─ Header
  ├─ Hero
  ├─ About
  ├─ Portfolio
  ├─ Blog articles
  └─ Footer

  2. Page
  ├─ General
  ├─ Header
  ├─ About
  ├─ Portfolio
  └─ Contact

*/



/* -------------------------------------------------
   # Navbar - Layout
----------------------------------------------------*/
.Navbar {
    background-color: #ffffffcc;
    backdrop-filter: blur(2px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: fixed;
    z-index: 1000;
    transition: background-color 500ms;

    .container {
        display: grid;
        gap: 30px;
        grid-template-areas:
            "Logo Social NavLinks";
        grid-template-columns: 165px auto auto;
        width: 100%;
        max-width: 1200px;

        .Logo {
            grid-area: Logo;
        }
        .Social {
            grid-area: Social;
        }
        .NavLinks {
            grid-area: NavLinks;
        }
    }
}
.Navbar:hover {
    background-color: white;
}

/* -------------------------------------------------
   # Front-Page - Layout
----------------------------------------------------*/

// Front-page
.FrontPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Frontpage Hero
.FrontpageHero {
    height: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .grid {
        z-index: 20;
        margin: auto;
        display: grid;
        align-content: end;
        grid-column: 12;
        grid-template-areas:
            "one two three";
        grid-template-columns: 1fr 5fr 6fr;
    
        .margin:nth-child(1) { grid-area: one; }
        .content { grid-area: two; }
        .margin:nth-child(2) { grid-area: three; }
    }
    
}

// Front-page About
.FrontpageAbout {
    padding: 100px 0;

    .grid {
        display: grid;
        gap: 30px;
        row-gap: 0;
        grid-template-columns: repeat(12, 1fr);
    }

    .FrontpageHeading {
        grid-row: 1 / 2;
        grid-column:    1 / 5;
    }
    .FrontpageCard.One {
        grid-row:    1 / 2;
        grid-column: 7 / 13;
        margin-top: 35px;
    }
    .FrontpageCard.Two {
        grid-row:    2 / 3;
        grid-column: 6 / 12;
    }
    .FrontpageCard.Three {
        grid-row:    3 / 4;
        grid-column: 5 / 11;
    }

}

// Front-page Portfolio
.FrontpagePortfolio {
    .Container {
        display: grid;
        gap: 30px;
        row-gap: 0px;
        grid-template-columns: repeat(12, 1fr);
        
        .FrontpageHeading {
            grid-row:    1 / 2;
            grid-column: 1 / 5;
            margin-bottom: 50px;
        }
        .PortfolioProjects {
            grid-row:    2 / 3;
            grid-column: 1 / 13;
        }
    }
}

