@import '_elements.scss';

/*
  1. Navbar
  ├─ 
  └─
  1. Front-page
  ├─ Header
  ├─ Hero
  ├─ About
  ├─ Portfolio
  ├─ Blog articles
  └─ Footer

  2. Page
  ├─ General
  ├─ Header
  ├─ About
  ├─ Portfolio
  └─ Contact

*/



/* -------------------------------------------------
   # Navbar - Layout
----------------------------------------------------*/
.Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 1000;

    .container {
        background-color: #ffffffcc;
        backdrop-filter: blur(2px);
        transition: background-color 500ms;
        padding: 15px 25px;
        display: flex;
        width: 100%;        
    }

    .Logo {
        display: flex;
        align-items: center;
    }
    .Menu {
        margin-left: auto;
    }
    .Navigation {
        display: none;
    }
    


    .MobileNavigation {
        display: none;
        //transition: translateY(0px);
    }
}
.Navbar .container:hover {
    background-color: white;
}

.Navbar.Open .MobileNavigation {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    width: 280px;
    background-color: #ffffffcc;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 20px;
    gap: 25px;
}

@media screen and (min-width: 768px) {
    .Navbar.Open .MobileNavigation,
    .MobileNavigation,
    .Navbar .Menu {
        display: none;
    }

    .Navbar .container {
        padding: 15px 30px;
    }

    .Navbar .Navigation {
        display: flex;
        width: 100%;

        .Social {
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .Navbar .container {
        padding: 15px 40px;
    }
}

@media screen and (min-width: 1240px) {
    .Navbar .container {
        padding: 15px 80px;
    }
}

/* -------------------------------------------------
   # Front-Page - Layout
----------------------------------------------------*/

// Front-page
.FrontPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------
   # Front-Page - Layout
----------------------------------------------------*/

// Frontpage Hero
.FrontpageHero {
    height: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .grid {
        z-index: 20;
        margin: 60px auto;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    
        .FrontpageHeader {
            grid-row: 2 / 3;
        }
        .illustration {
            grid-row: 1 / 2;
        }
    }

    .illustration {
        margin: auto;
    }
    .FrontpageHeader {
        max-width: 500px;
        padding: 0 25px;
        position: relative;
        top: -20px;
    }
    
}
@media screen and (max-width: 480px) {
    .FrontpageHero .illustration {
        padding-left: 10%;
    }
}

// Resizing illustration on devices less than 360px
@media screen and (max-width: 360px) {
    .FrontpageHero .illustration svg {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .FrontpageHero .grid {
        gap: 30px;
        max-width: 1200px;
        margin: 120px auto 80px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(12, 1fr);

        .FrontpageHeader {
            grid-row: 1 / 2;
            grid-column: 2 / 7;
        }
        .illustration {
            grid-row: 1 / 2;
            grid-column: 7 / 13;
        }
    }
    .FrontpageHero .FrontpageHeader {
        top: 0;
        padding: 0;
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* -------------------------------------------------
   # Front-Page - Layout
----------------------------------------------------*/

// Front-page About
.FrontpageAbout {
    padding: 10px 0;
    width: 100%;
    margin-bottom: 80px;

    .grid {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 25px;
    }
    .FrontpageCard.One { margin: 0 0 15px auto; }
    .FrontpageCard.Two { margin: 0 auto 15px auto; }
    .FrontpageCard.Three { margin: 0 auto 15px 0; }
}

@media screen and (min-width: 576px) {
    .FrontpageAbout {
        .FrontpageCard.One { margin: 0 0 25px auto; }
        .FrontpageCard.Two { margin: 0 auto 25px auto; }
        .FrontpageCard.Three { margin: 0 auto 25px 0; }
    }
}

@media screen and (min-width: 768px) {
    .FrontpageAbout {
        .FrontpageHeading {
            max-width: 400px;
        }
        .grid { margin: 0 30px; }
        .FrontpageCard.One { margin: 0 0 35px auto; }
        .FrontpageCard.Two { margin: 0 auto 35px auto; }
        .FrontpageCard.Three { margin: 0 auto 35px 0; }
    }
}

@media screen and (min-width: 1024px) {
    .FrontpageAbout {
        .grid {
            margin: 0 40px;
            display: grid;
            max-width: 1200px;
            gap: 30px;
            row-gap: 0;
            grid-template-columns: repeat(12, 1fr);
        }
    
        .FrontpageHeading {
            grid-row: 1 / 2;
            grid-column:    1 / 5;
        }
        .FrontpageCard.One {
            grid-row:    1 / 2;
            grid-column: 7 / 13;
            margin-top: 35px;
        }
        .FrontpageCard.Two {
            grid-row:    2 / 3;
            grid-column: 6 / 12;
        }
        .FrontpageCard.Three {
            grid-row:    3 / 4;
            grid-column: 5 / 11;
        }
    }
}

@media screen and (min-width: 1240px) {
    .FrontpageAbout .grid { margin: 0 80px; }
}
/* -------------------------------------------------
   # Front-Page - Layout
----------------------------------------------------*/

// Front-page Portfolio
.FrontpagePortfolio {
    margin: 25px;

    .FrontpageHeading {
        margin-bottom: 100px;
    }
    .PortfolioProjects
    .PortfolioProject {
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 768px) {
    .FrontpagePortfolio {
        .Container {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: auto auto;

            .FrontpageHeading {
                grid-row:    1 / 2;
                grid-column: 2 / 7;
            }
            .PortfolioProjects {
                grid-row:    2 / 3;
                grid-column: 1 / 9;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .FrontpagePortfolio {
        .Container {
            display: grid;
            gap: 30px;
            margin: 25px;
            row-gap: 0px;
            grid-template-columns: repeat(12, 1fr);
            
            .FrontpageHeading {
                grid-row:    1 / 2;
                grid-column: 1 / 5;
            }
            .PortfolioProjects {
                grid-row:    2 / 3;
                grid-column: 1 / 13;
            }
        }
    }
}

