@import '_elements.scss';

/*
  1. Navbar
  ├─ 
  └─
  1. Front-page
  ├─ Header
  ├─ Hero
  ├─ About
  ├─ Portfolio
  ├─ Blog articles
  └─ Footer

  2. Page
  ├─ General
  ├─ Header
  ├─ About
  ├─ Portfolio
  └─ Contact

*/



/* -------------------------------------------------
   # Navbar - Layout
----------------------------------------------------*/
.Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 1000;

    .container {
        background-color: #ffffffcc;
        backdrop-filter: blur(2px);
        transition: background-color 300ms;
        padding: 15px 25px;
        display: flex;
        width: 100%;        
    }

    .Logo {
        display: flex;
        align-items: center;
    }
    .Menu {
        margin-left: auto;
    }
    .Navigation {
        display: none;
    }
    


    .MobileNavigation {
        display: none;
        //transition: translateY(0px);
    }
}
.Navbar .container:hover {
    background-color: white;
}

.Navbar.Open .MobileNavigation {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    width: 280px;
    background-color: #ffffffcc;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 20px;
    gap: 25px;
}

@media screen and (min-width: 768px) {
    .Navbar.Open .MobileNavigation,
    .MobileNavigation,
    .Navbar .Menu {
        display: none;
    }

    .Navbar .container {
        padding: 15px 30px;
    }

    .Navbar .Navigation {
        display: flex;
        width: 100%;

        .Social {
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .Navbar .container {
        padding: 15px 40px;
    }
    .Navbar .Navigation {
        .Social { display: flex; }
    }
}

@media screen and (min-width: 1240px) {
    .Navbar .container {
        padding: 15px 80px;
    }
}

/* -------------------------------------------------
   # Front-Page - Layout
----------------------------------------------------*/

// Front-page
.FrontPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------
   # Front-Page - Layout
----------------------------------------------------*/

// Frontpage Hero
.FrontpageHero {
    height: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .grid {
        z-index: 20;
        margin: 60px auto;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    
        .FrontpageHeader {
            grid-row: 2 / 3;
        }
        .illustration {
            grid-row: 1 / 2;
        }
    }

    .illustration {
        margin: auto;
    }
    .FrontpageHeader {
        max-width: 500px;
        padding: 0 25px;
        position: relative;
        top: -20px;
    }
    
}
@media screen and (max-width: 480px) {
    .FrontpageHero .illustration {
        padding-left: 10%;
    }
}

// Resizing illustration on devices less than 360px
@media screen and (max-width: 360px) {
    .FrontpageHero .illustration svg {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .FrontpageHero .grid {
        gap: 30px;
        max-width: 1200px;
        margin: 120px auto 80px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(12, 1fr);

        .FrontpageHeader {
            grid-row: 1 / 2;
            grid-column: 2 / 7;
        }
        .illustration {
            grid-row: 1 / 2;
            grid-column: 7 / 13;
        }
    }
    .FrontpageHero .FrontpageHeader {
        top: 0;
        padding: 0;
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* -------------------------------------------------
   # Front-Page - Layout
----------------------------------------------------*/

// Front-page About
.FrontpageAbout {
    padding: 10px 0;
    width: 100%;
    margin-bottom: 80px;

    .grid {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 25px;
    }
    .FrontpageCard.One { margin: 0 0 15px auto; }
    .FrontpageCard.Two { margin: 0 auto 15px auto; }
    .FrontpageCard.Three { margin: 0 auto 15px 0; }
}

@media screen and (min-width: 576px) {
    .FrontpageAbout {
        .FrontpageCard.One { margin: 0 0 25px auto; }
        .FrontpageCard.Two { margin: 0 auto 25px auto; }
        .FrontpageCard.Three { margin: 0 auto 25px 0; }
    }
}

@media screen and (min-width: 768px) {
    .FrontpageAbout {
        .FrontpageHeading {
            max-width: 400px;
        }
        .grid { margin: 0 30px; }
        .FrontpageCard.One { margin: 0 0 35px auto; }
        .FrontpageCard.Two { margin: 0 auto 35px auto; }
        .FrontpageCard.Three { margin: 0 auto 35px 0; }
    }
}

@media screen and (min-width: 1024px) {
    .FrontpageAbout {
        .grid {
            margin: 0 40px;
            display: grid;
            max-width: 1200px;
            gap: 30px;
            row-gap: 0;
            grid-template-columns: repeat(12, 1fr);
        }
    
        .FrontpageHeading {
            grid-row: 1 / 2;
            grid-column:    1 / 5;
        }
        .FrontpageCard.One {
            grid-row:    1 / 2;
            grid-column: 7 / 13;
            margin-top: 35px;
        }
        .FrontpageCard.Two {
            grid-row:    2 / 3;
            grid-column: 6 / 12;
        }
        .FrontpageCard.Three {
            grid-row:    3 / 4;
            grid-column: 5 / 11;
        }
    }
}

@media screen and (min-width: 1240px) {
    .FrontpageAbout .grid { margin: 0 80px; }
}
/* -------------------------------------------------
   # Front-Page - Layout
----------------------------------------------------*/

// Front-page Portfolio
.FrontpagePortfolio {
    margin: 25px;

    .FrontpageHeading {
        margin-bottom: 100px;
    }
    .PortfolioProjects
    .PortfolioProject {
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 768px) {
    .FrontpagePortfolio {
        .Container {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: auto auto;

            .FrontpageHeading {
                grid-row:    1 / 2;
                grid-column: 2 / 7;
            }
            .PortfolioProjects {
                grid-row:    2 / 3;
                grid-column: 1 / 9;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .FrontpagePortfolio {
        .Container {
            display: grid;
            gap: 30px;
            margin: 25px;
            row-gap: 0px;
            grid-template-columns: repeat(12, 1fr);
            max-width: 1200px;
            
            .FrontpageHeading {
                grid-row:    1 / 2;
                grid-column: 1 / 5;
            }
            .PortfolioProjects {
                grid-row:    2 / 3;
                grid-column: 1 / 13;
            }
        }
    }
}


/* -------------------------------------------------
   # Footer - Layout
----------------------------------------------------*/
.Footer {
    padding: 25px;
    background-color: #0B0D17;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    .Logo {
        height: 25px;
        margin-bottom: 10px;
        padding-right: 35px;

        svg {
            height: 100%;
            width: auto;
        }
    }
    .Links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 0;
        text-align: center;

        a {
            color: #D0E3FF;
            font-weight: 300;
            font-size: 14px;
            transition: color 500ms;
        }
        a:hover {
            color: #2c80ff;
        }
    }
    hr {
        border: 1px #ffffff22 solid;
        width: 100%;
    }
    .Copyrigth {
        font-size: 14px;
        color: #bdbdbd;
        font-weight: 300;
        padding-top: 10px;
        width: 100%;
        text-align: center;
    }
    .Social {
        display: flex;
        gap: 15px;
    }
}

.Footer g[label=JoksanTélles] path {
    fill: white;
}

@media screen and (min-width: 576px) {
    .Footer {
        padding: 30px;

        .container {
            display: grid;
            grid-column: 4;
            grid-row: 5;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(5, auto);
        }
        .Logo {
            grid-row:    1 / 2;
            grid-column: 1 / 3;
            margin: auto;
        }
        .Links {
            grid-row:    2 / 3;
            grid-column: 1 / 3;
            flex-direction: row;
            gap: 25px;
            margin: 30px auto;
        }
        hr {
            grid-row:    3 / 4;
            grid-column: 1 / 3;
        }
        .Copyrigth {
            grid-row:    4 / 5;
            grid-column: 1 / 2;
            text-align: left;
        }
        .Social {
            grid-row:    4 / 5;
            grid-column: 2 / 3;
            margin-left: auto;
        }
    }
}
@media screen and (min-width: 968px) {
    .Footer {
        padding: 40px;

        .Links {
            margin: 40px auto;
        }
    }
}
@media screen and (min-width: 1024px) {
    .Footer {
        padding: 50px;

        .container {
            max-width: 1000px;
            margin: auto;
        }
        .Links {
            margin: 50px auto;
        }
    }
}

/* -------------------------------------------------
   # PageHeader - Layout
----------------------------------------------------*/

// Frontpage Hero
.PageHeader {
    height: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
@media screen and (max-width: 480px) {
    .FrontpageHero .illustration {
        padding-left: 10%;
    }
}

// Resizing illustration on devices less than 360px
@media screen and (max-width: 368px) {
    .FrontpageHero .illustration svg {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .PageHeader {
        min-height: 500px;
    }
}

@media screen and (min-width: 992px) {
    .FrontpageHero .grid {
        gap: 30px;
    }
}

/* -------------------------------------------------
   # Page About - Component
----------------------------------------------------*/

// Two column - Layout
.twocolumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 25px 50px 25px;


    .container {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: 20px;
        font-family: 'fontbase';
        font-weight: 700;
        color: #333;
        margin: 0 0 25px 0;
    }
    p {
        color: #808080;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5em;
        margin: 0 0 1.2em 0;
    }
}
@media screen and (min-width: 768px) {
    .twocolumn {
        padding: 0px 30px 50px 30px;
        .container {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(8, 1fr);
            max-width: 800px;
            gap: 30px;
            z-index: 20;
        }
        .one {
            grid-column: 1 / 5;
            grid-row:    1 / 2;
        }
        .two {
            grid-column: 5 / 9;
            grid-row:    1 / 2;
        }
        .title {
            font-size: 24px;
        }
        p {
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .twocolumn {
        padding: 0 40px 80px 40px;

        .container {
            grid-template-rows: auto;
            grid-template-columns: repeat(12, 1fr);
            max-width: none;
        }
        .one {
            grid-column: 2 / 6;
            grid-row:    1 / 2;
        }
        .two {
            grid-column: 7 / 12;
            grid-row:    1 / 2;
        }
    }
}

// Three column - Layout
.threecolumn {
    .container {
        padding: 50px 25px;
        max-width: 450px;
        margin: auto;
    }
    .one { margin-bottom: 50px; }
    .ExperienceCard { margin-bottom: 30px; }
}
@media screen and (min-width: 768px) {
    .threecolumn {
        .container {
            max-width: none;
            margin: auto;
            padding: 50px 30px;
            display: grid;
            column-gap: 20px;
            grid-template-rows: auto auto;
            grid-template-columns: repeat(8, 1fr);
        }
        .one {
            margin-bottom: 20px;
            grid-column: 1 / 9;
            grid-row:    1 / 2;
        }
        .two {
            grid-column: 1 / 5;
            grid-row:    2 / 3;
        }
        .three {
            grid-column: 5 / 9;
            grid-row:    2 / 3;
        }
    }
}
@media screen and (min-width: 1024px) {
    .threecolumn {
        .container {
            grid-template-columns: repeat(12, 1fr);
            padding: 80px 40px;
        }
        .one {
            margin-bottom: 50px;
            grid-column: 1 / 7;
            grid-row:    1 / 2;
        }
        .two {
            grid-column: 2 / 7;
        }
        .three {
            grid-column: 7 / 12;
        }
    }
}
@media screen and (min-width: 1240px) {
    .threecolumn {
        max-width: 1380px;
        .container {
            padding: 80px;
        }
        .one {
            grid-column: 1 / 5;
            grid-row:    1 / 2;
        }
        .two {
            grid-column: 5 / 9;
            grid-row:    1 / 2;
        }
        .three {
            grid-column: 9 / 13;
            grid-row:    1 / 2;
        }
    }
}

/* -------------------------------------------------
   # Portfolio Page - Layout
----------------------------------------------------*/

// Front-page Portfolio
.Portfolio {
    margin: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
@media screen and (min-width: 768px) {
    .Portfolio {
        margin: 30px;
    }
}
@media screen and (min-width: 1024px) {
    .Portfolio {
        margin: 40px;
    }
}
@media screen and (min-width: 1200px) {
    .Portfolio { margin: 50px; max-width: 1200px;}
}


/* -------------------------------------------------
   # Contact Page - Layout
----------------------------------------------------*/
.ContactPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
}

.ContactForm {
    max-width: 500px;
    margin: 25px;
    width: 100%;

    .button {
        margin-right: auto;
    }
}

/* 576, 768, 1024, 1200*/
@media screen and (min-width: 768px) {
    .ContactForm {
        max-width: 750px;
        margin: 30px;
        display: grid;
        column-gap: 20px;
        row-gap: 30px;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: repeat(8, 1fr);

        .name {
            grid-column: 1 / 5;
            grid-row:    1 / 2;
        }
        .email {
            grid-column: 5 / 9;
            grid-row:    1 / 2;
        }
        .company {
            grid-column: 1 / 5;
            grid-row:    2 / 3;
        }
        .project {
            grid-column: 5 / 9;
            grid-row:    2 / 3;
        }
        .location {
            grid-column: 1 / 5;
            grid-row:    3 / 4;
        }
        .budget {
            grid-column: 5 / 9;
            grid-row:    3 / 4;
        }
        .message {
            grid-column: 1 / 9;
            grid-row:    4 / 5;
        }
        .button {
            grid-column: 1 / 5;
            grid-row:    5 / 6;
        }
    }
}
@media screen and (min-width: 1024px) {
    .ContactForm {
        max-width: 1000px;
        margin: 40px;
        display: grid;
        column-gap: 20px;
        row-gap: 40px;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: repeat(12, 1fr);

        .name {
            grid-column: 1 / 5;
            grid-row:    1 / 2;
        }
        .email {
            grid-column: 5 / 9;
            grid-row:    1 / 2;
        }
        .company {
            grid-column: 9 / 13;
            grid-row:    1 / 2;
        }
        .project {
            grid-column: 1 / 5;
            grid-row:    2 / 3;
        }
        .location {
            grid-column: 5 / 9;
            grid-row:    2 / 3;
        }
        .budget {
            grid-column: 9 / 13;
            grid-row:    2 / 3;
        }
        .message {
            grid-column: 1 / 13;
            grid-row:    3 / 4;
        }
        .button {
            max-width: none;
            grid-column: 1 / 5;
            grid-row: 4 / 5;
        }
    }
}

@media screen and (min-width: 1240px) {
    .ContactForm {
        column-gap: 30px;
    }
}


/* -------------------------------------------------
   # Blog page - Page
----------------------------------------------------*/
.BlogPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25px 80px;
    
    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 450px;

        .BlogArticle {
            z-index: 100;
            width: 100%;
            margin-bottom: 25px;
        }
    }
}

@media screen and (min-width: 768px) {
    .BlogPage {
        margin: 0 30px 80px;
        .container {
            max-width: 750px;

            .BlogArticle {
                z-index: 100;
                width: calc((100% - 30px) / 2);
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .BlogPage {
        margin: 0 50px 80px;
        .container {
            max-width: 1200px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .BlogArticle {
                z-index: 100;
                width: calc((100% - 60px) / 3);
                margin-bottom: 30px;
            }
        }
    }
}
@media screen and (min-width: 1240px) {
    .BlogPage {
    margin: 0 80px 80px;

        .container {
            gap: 30px;
        }
    }
}