// Import
@import '_normalize.scss';
@import '_fonts.scss';
@import '_elements.scss';
@import '_components.scss';
@import '_layout.scss';

::selection {
    background: #0D6EFD55;
}

#about {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* -------------------------------------------------
   # Based
----------------------------------------------------*/

// Colors
:root {
    --color-primary:          #0D6EFD;
    --color-primary-accent:   #3f8afb;
    --color-primary-100:      #F4F5FF;
    --color-primary-200:      #D0E3FF;
    --color-primary-300:      #5f9fff;
    --color-primary-400:      #3f8afb;
    --color-secondary:        #212121;
    --color-secondary-accent: #3b3b3b;
    --color-secondary-100:    #e4e4e4;
    --color-secondary-200:    #9b9b9b;
    --color-secondary-300:    #666666;
    --color-secondary-400:    #3b3b3b;
}

/* -------------------------------------------------
   # Elements
----------------------------------------------------*/

// Buttons
.button {
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 500ms, border-color 500ms;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        font-size: 14px
    }
}

// Button primary
.btn-primary {
    @extend .button;
    background-color: var(--color-primary);
    border: 2px var(--color-primary) solid;
    color: white;

    a { color:white; }
}
.btn-primary:hover {
    background-color: var(--color-primary-accent);
    border: 2px var(--color-primary-accent) solid;
}

// Button primary outline
.btn-primary-outline {
    @extend .btn-primary;
    background-color: transparent;
    color: var(--color-primary);

    a {
        color: var(--color-primary);
    }
}
.btn-primary-outline:hover {
    background-color: var(--color-primary-100);
}

// Button secondary
.btn-secondary {
    @extend .button;
    background-color: var(--color-secondary);
    border: 2px var(--color-secondary) solid;
    color: white;
    
    a { color:white; }
}
.btn-secondary:hover {
    background-color: var(--color-secondary-accent);
    border: 2px var(--color-secondary-accent) solid;
}

// Button secondary outline
.btn-secondary-outline {
    @extend .btn-secondary;
    background-color: transparent;
    color: var(--color-secondary);

    a {
        color: var(--color-secondary);
    }
}
.btn-secondary-outline:hover {
    background-color: var(--color-secondary-100);
}

// Button soft
.btn-soft {
    @extend .button;
    font-weight: 600;
    color: gray;

    .icon {
        margin-top: 1px;
        width: 16px;
        stroke-width: 2.5px;
        margin-right: 5px;
    }
}
.btn-soft:hover {
    background-color: var(--color-primary-200);
    color: var(--color-primary);
}

/* -------------------------------------------------
   # Navigation Bar component
----------------------------------------------------*/


/* -------------------------------------------------
   # Page Header - Component
----------------------------------------------------*/
.page--header {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .content {
        position: relative;
        width: 600px;
        height: 100%;
        margin: auto;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tag {
            font-size: 18px;
            font-weight: 700;
            color: var(--color-primary);
            margin-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
        }
        .division {
            width: 20px;
            height: 1px;
            background: gray;
            margin: 0 auto 30px;
        }
        .title {
            text-align: center;
            font-size: 36px;
            font-weight: 300;
            color: #212121;
            margin-bottom: 10px;
        }
        .description {
            text-align: center;
            font-size: 18px;
            color: #666666;
        }
    }

    .background {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 380px;

        .circle {
            position: relative;
            z-index: 1;
            top: -823px;
            right: -445px;
            width: 1200px;
            height: 1200px;
            border-radius: 50%;
            background: linear-gradient(-70deg, #eff4ff, #eff4fb00);
        }
    }
}


/* -------------------------------------------------
   # Page About - Component
----------------------------------------------------*/
.page-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
}

.twocolumn {
    max-width: 1200px;
    display: grid;
    gap: 30px;
    grid-column: 12;
    grid-template-areas:
        "m1 one m2 two m3";
    grid-template-columns: 1fr 4fr 1fr 5fr 1fr;
    
    .title {
        font-size: 24px;
        font-family: 'fontbase';
        font-weight: 700;
        color: #333;
    }
}
.twocolumn .one {
    grid-area: one;
}
.twocolumn .two {
    grid-area: two;
}
.twocolumn .margin:nth-child(1) {
    grid-area: m1;
}
.twocolumn .margin:nth-child(2) {
    grid-area: m2;
}
.twocolumn .margin:nth-child(3) {
    grid-area: m3;
}

.twocolumn p {
    color: #808080;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

/* -------------------------------------------------
   # Front-Page - Layout
----------------------------------------------------*/
.Container {
    max-width: 1200px;
}